[submodule "components/lapi"]
	path = components/lapi
	url = /afs/apd.pok.ibm.com/u/archerc/scratch/gitbox/lapi
[submodule "ade"]
	path = ade
	url = /afs/apd.pok.ibm.com/u/archerc/scratch/gitbox/ade/
